body{
	//background: url('../img/cloud.jpg');
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #fff;
	font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;

}
///patterns
.rounded-corners (@radius: 3px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}
.header{
	margin-top: 40px;
	height: 90px;
	.logo{
		margin-top: 15px;
	}
}
.no-shadow{
	box-shadow: none;
	background: #fff;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}

.merdeka{
	float: left;
	overflow: hidden;
	margin-right: 5px;
}
.common{
	margin-top:50px;
	min-height: 300px;
	border: 1px solid #ccc;
	background: #FAFAFA;
	.big{
		width:795px;
		padding: 10px;
		background: #fff;
		border:1px solid #ccc;
	}
	.title{
		font-size: 36px;
		
		font-weight: bold;
		max-width: 870px;
		line-height: 44px;
		letter-spacing: -1px;
		margin-left: 10px;
		font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;



	}
	.detail{
		margin-bottom: 10px;
		min-height: 100px;
		margin-top: 10px;
		margin-left: 10px;
		
		width: 840px;
	}
	.nav-tabs{
		margin-bottom: 0;
		padding-left: 20px;
		background: #ccc;
		padding-top: 10px;
		background-attachment: scroll;
		background-clip: border-box;
		background-color: transparent;
		background-image: -moz-linear-gradient(center top , #F6F6F6, #E5E5E5);
		background-origin: padding-box;
		border: 1px solid #ccc;
		border-bottom: none;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;



	}
	.tab-content{
		border: 1px solid #ccc;
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		margin-bottom: 20px;

		.testimonials{
			list-style: none;
			overflow: hidden;
			float: left: ;
			margin-left: -25px;
			margin-bottom: 20px;
		}
		.right-word{
			width: 700px;
			font-family: arial;
			font-size: 14px;
			line-height: 18px;
			padding: 10px;
			float: right;

			border:1px solid #ccc;
			display: inline;

		}
		.left_avatar{
			float: left;
			max-width: 150px;
			img{
				width: 60px;
				padding: 5px;
				background: #fff;
				border: 1px solid #eee;
			}

		}

	}
	.tab-pane{
		background: #fff;
		padding: 10px;
		margin-top: 0;
		overflow: hidden;
		p{
			font-size: 14px;
			margin-bottom: 10px;
			line-height: 22px;
			
		}
		.half{
			width:65%;
			float: left;
		}
	}
	.saved_count{
		text-align: center;
		width: 100%;
		padding: 10px;
		margin-left: -10px;
		margin-bottom: -10px;
		background-attachment: scroll;
		background-clip: border-box;
		background-color: #F6F6F6;
		background-image: none;
		background-origin: padding-box;
		background-position: 0 0;
		background-repeat: repeat;
		background-size: auto auto;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
		float: left;

	}
	.provider-pic{
		padding: 10px;
		background: #fff;
		border: 1px solid #ccc;
		display: block
		float: left;
		width: 200px;
		margin: 0 auto;
		margin-bottom: 10px;
		img{
			width: 200px;
			border: 1px solid #ccc;

		}
	}
	.details{
		margin-left: 0;
		background: #fff;
		border: 1px solid #ccc;
		float: right;
		margin-top: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		width: 270px;
		padding:10px;
		.rounded-corners(5px);
		.provider_name{
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 24px;
			font-weight: bold;
			text-align: center;
			float: left;
			width: 100%;
		}
		.about{
			margin-top: 10px;
			font-size: 11px;
			text-align: center;
			float: left;
			width: 100%;
		}

		.inner{
			width: 92%;
			float: left;
			padding:10px;
			overflow: hidden;

		}
		.text{
			display: block;
			float: left;
			width: 100%;
			font-weight: normal;
		}
		.price-big{
			font-size: 30px;
			font-weight: normal;
			letter-spacing: -1px;
			text-align: center;
			line-height: 38px;
			display: block;
			border-bottom: 1px dashed #ccc;
		}
		.btn-custom {
			width: 100%;
			background-color: hsl(195, 60%, 35%) !important;
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d95b7", endColorstr="#23748e");
			background-image: -khtml-gradient(linear, left top, left bottom, from(#2d95b7), to(#23748e));
			background-image: -moz-linear-gradient(top, #2d95b7, #23748e);
			background-image: -ms-linear-gradient(top, #2d95b7, #23748e);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d95b7), color-stop(100%, #23748e));
			background-image: -webkit-linear-gradient(top, #2d95b7, #23748e);
			background-image: -o-linear-gradient(top, #2d95b7, #23748e);
			background-image: linear-gradient(#2d95b7, #23748e);
			border-color: #23748e #23748e hsl(195, 60%, 32.5%);
			color: #fff !important;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
			padding-top: 10px;
			padding-bottom: 10px;
			font-size:18px;
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
		}
		.simpan{
			font-size: 14px;
		}


	}

}
.result{
	margin-top:50px;
	min-height: 300px;
	.result-list{
		min-height: 100px;
		margin-top: 10px;
		margin-left: 0px;
		border:1px #efefef solid;
		width: 883px;
		.paging{

			width: 100%;
			float: left;
			.pagination{
				float: right;
				max-width: 600px;
				margin:0 auto;
				margin-top: 10px;
				margin-right: 10px;
				margin-bottom: 5px;
			}
			.number-total{
				max-width: 200px;
				float: left;
				font-size: 12px;
				padding: 10px;
			}

		}
		.list-item{
			padding: 10px 0px;
			width: 100%;
			float: left;
			border-bottom: 1px solid #efefef;

			.right-area{
				
				display: inline;
				float: right;
				width: 190px;
				padding:5px;
				min-height: 100%;
				border-left: 1px solid #efefef;
				margin-right: 15px;
				.price-currency{
					font-size: 25px;
					float: left;
					display: block;
				}
				.harga{
					float: left;
					display: block;
					font-size: 13px;
					margin-bottom:5px;
					width:100%;
				}

				.pax{
					float: left;
					display: block;
					font-size: 13px;
					margin-top:5px;
					width: 100%;
				}
				.promo{
					float: left;
					display: block;
					padding: 5px;
					margin-top: 5px;
					color: #fff;
					font-size: 12px;
					border:1px solid #DD8605;
					background: #FFA513;

				}
				.button-details{
					margin-top: 10px;
					float: left;
					display: block;
				}

			}
			
			img{
				width:125px;
				height: 125px;
				padding: 5px;
				background: #fff;
				border: 1px solid #efefef;
				margin-left: 10px;
				float: left;
			}

			.name a{
				font-weight: normal;
				float: left;
				font-size: 18px;
				line-height: 24px;
				font-family:"Open Sans",arial;
				float:left;
				cursor: pointer;
				height: 55px;
				margin-left: 15px;
				max-width: 400px;
				display: inline;
				overflow: hidden;
				-o-text-overflow: ellipsis;   /* Opera */
				text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
			}
			.explain{
				margin-top:0px;
				font-size: 12px;
				float: left;
				overflow: hidden;
				margin-left: 15px;
				max-width: 400px;
				height: 40px;
				display: inline;
				overflow: hidden;
				-o-text-overflow: ellipsis;   /* Opera */
				text-overflow:    ellipsis; 

			}
			.name a:hover{
				text-decoration: none;

			}
		}
		.list-item:hover{

			background: #f8f8f8;
		}
		.list-item:first-child{
			border-top:none ;
		}
		.list-item:last-child{
			border-bottom: none;
		}
	}

	.sidebar-result{

		margin-left: 0;
		background: #fff;
		border: 1px solid #efefef;
		float: right;
		margin-top: 10px;
		
		.nav-header{
			font-weight: normal;
			color: black;
			text-transform:none;
			border-top:1px solid #ccc;
			padding-top: 5px;
			padding-bottom: 5px;
			background-color: rgba(250, 250, 250, 0.9);
			background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.9) 0%, rgba(250, 250, 250, 0.9) 100%);
			border-bottom-color: #D0D0D0;
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}
		.nav-header:first-child{
			border-top:none;
		}
	}

}

.menu{

	//border-top: 3px solid #ccc;
	background: #ccc;
}
.navbar{
	font-family: 'Roboto';
	.nav{
		float: right;
	}
	.nav > li > a{
		text-shadow:none;
		color: #222;
		font-family: 'Roboto';
	}
}
.navbar .nav > li > a:hover{
	background-color: #4E8506;
	color: #FFFFFF;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #4E8506;
	color: #FFFFFF;
}
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}

.reveal-modal {
	visibility: hidden;
	top: 100px; 
	left: 50%;
	margin-left: -300px;
	width: 520px;
	background: #eee url(modal-gloss.png) no-repeat -200px -80px;
	position: absolute;
	z-index: 101;
	padding: 30px 40px 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}

.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
} 
	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/