body{
	//background: url('../img/cloud.jpg');
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #fff;
	font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.logo{padding: 0; float: left; padding-top: 5px;}
///patterns
.rounded-corners (@radius: 3px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}
.header{
	margin-top: 40px;
	height: 90px;
	.logo{
		margin-top: 15px;
	}
}
.lazy {

}
button.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer;
}
button.cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}
button::-moz-focus-inner {
    border: 0;
}
button.cupid-green {
    background-color: #FA6900;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font: normal 18px/1 "Roboto", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 11px 12px 11px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
   }

.result{
	margin-top:50px;
	min-height: 300px;
	.result-list{
		min-height: 100px;
		margin-top: 10px;
		margin-left: 0px;
		border:1px #efefef solid;
		width: 883px;
		.paging{

			width: 100%;
			float: left;
			.pagination{
				float: right;
				max-width: 600px;
				margin:0 auto;
				margin-top: 10px;
				margin-right: 10px;
				margin-bottom: 5px;
			}
			.number-total{
				max-width: 200px;
				float: left;
				font-size: 12px;
				padding: 10px;
			}

		}
		.list-item{
			padding: 10px 0px;
			width: 100%;
			float: left;
			border-bottom: 1px solid #efefef;

			.right-area{
				
				display: inline;
				float: right;
				width: 190px;
				padding:5px;
				min-height: 100%;
				border-left: 1px solid #efefef;
				margin-right: 15px;
				.price-currency{
					font-size: 25px;
					float: left;
					display: block;
				}
				.harga{
					float: left;
					display: block;
					font-size: 13px;
					margin-bottom:5px;
					width:100%;
				}

				.pax{
					float: left;
					display: block;
					font-size: 13px;
					margin-top:5px;
					width: 100%;
				}
				.promo{
					float: left;
					display: block;
					padding: 5px;
					margin-top: 5px;
					color: #fff;
					font-size: 12px;
					border:1px solid #DD8605;
					background: #FFA513;

				}
				.button-details{
					margin-top: 10px;
					float: left;
					display: block;
				}

			}
			
			img{
				width:125px;
				height: 125px;
				padding: 5px;
				background: #fff;
				border: 1px solid #efefef;
				margin-left: 10px;
				float: left;
			}

			.name a{
				font-weight: normal;
				float: left;
				font-size: 18px;
				line-height: 24px;
				font-family:"Open Sans",arial;
				float:left;
				cursor: pointer;
				height: 55px;
				margin-left: 15px;
				max-width: 400px;
				display: inline;
				overflow: hidden;
				-o-text-overflow: ellipsis;  
				text-overflow:    ellipsis;  
			}
			.explain{
				margin-top:0px;
				font-size: 12px;
				float: left;
				overflow: hidden;
				margin-left: 15px;
				max-width: 400px;
				height: 40px;
				display: inline;
				overflow: hidden;
				-o-text-overflow: ellipsis;   /* Opera */
				text-overflow:    ellipsis; 

			}
			.name a:hover{
				text-decoration: none;

			}
		}
		.list-item:hover{

			background: #f8f8f8;
		}
		.list-item:first-child{
			border-top:none ;
		}
		.list-item:last-child{
			border-bottom: none;
		}
	}

	.sidebar-result{

		margin-left: 0;
		background: #fff;
		border: 1px solid #efefef;
		float: right;
		margin-top: 10px;
		
		.nav-header{
			font-weight: normal;
			color: black;
			text-transform:none;
			border-top:1px solid #ccc;
			padding-top: 5px;
			padding-bottom: 5px;
			background-color: rgba(250, 250, 250, 0.9);
			background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.9) 0%, rgba(250, 250, 250, 0.9) 100%);
			border-bottom-color: #D0D0D0;
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}
		.nav-header:first-child{
			border-top:none;
		}
	}

}

.navbar{
	font-family: 'Roboto';
	.nav{
		float: right;
	}
	.nav > li > a{
		text-shadow:none;
		color: #4E8506;
		font-family: 'Roboto';
	}
}
.navbar .nav > li > a:hover{
	background-color: #4E8506;
	color: #FFFFFF;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #4E8506;
	color: #FFFFFF;
}
.boox{
	margin-bottom: 30px;
	border: 1px solid #ddd;
	border-bottom: 2px solid #222;
	width: 268px;
	padding: 5px;
	background: #fff;
	margin-left: 0;
	margin-right: 30px;


	img{
	width: 268px;
	
	}
	.tag-currency{
			position: absolute;
			padding: 4px 10px;
			background: #69B00B;
			box-shadow: 1px 1px 1px #7CBC14 inset, -1px 1px 1px #7CBC14 inset, 0 0 6px rgba(0, 0, 0, 0.5);
			float: right;
			color: #fff;
			margin-left: 5px;
			margin-top: 5px;
			max-width: 200px;
			font-size: 17px;

		}
		.tag-currency:hover{
			background: #77c80d;
		}
	.banner{
		display: block;
		background: #FFFFFF;
		padding: 10px 0;
		display: block;
		min-height: 20px;
		overflow: hidden;
		float: left;
		width: 100%;
		.tag-title{
			width: 90%;
			float: left;
			margin-left: 5px;
			font-weight: bold;
			color: #222;
			line-height: 18px;
			font-family: "Roboto";
			font-size: 16px;			
		}
		.tag-location{
			width: 100%;
			float: left;
			margin-left: 5px;
			font-size: 14px;
			color: #666;		
		}

	}
}
.boox:hover{
	cursor: pointer;
	border: 1px solid #4E8506;
	-webkit-box-shadow: 0px 0px 12px #4E8506;
	-moz-box-shadow: 0px 0px 12px #4E8506;
	box-shadow: 0px 0px 12px #4E8506;
	.tag-title{
		color: #4E8506;
	}

}
.deals{
width: 1250px;
margin-top: 50px;
}